<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://localhost:8888" bypassonlocal="False"/>
    </defaultProxy>
  </system.net>-->
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding useDefaultWebProxy="true" name="DocumentServerServiceConfig" openTimeout="00:01:30" sendTimeout="00:01:30" receiveTimeout="00:01:30" closeTimeout="00:01:30" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:20004/Services/DocumentServer.svc" binding="wsHttpBinding" bindingConfiguration="DocumentServerServiceConfig" contract="DAIS.eBank.Services.PDF.Interfaces.IDocumentServer" name="WSHttpBinding_IDocumentServer">
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="DebugBreak" value="true" />
  </appSettings>
</configuration>